<div *ngIf="tournamentsSub$ | async" class="p-5 bg-gray-800 m-5">
    <button
        class="mb-5 border-none bg-primary border-1 border-black-alpha-80 border-round-md p-1 cursor-pointer hover:bg-gray-800 hover:text-primary hover:border-primary"
        (click)="toggleShowForm()">
        <i class="pi pi-filter p-2 "></i>
    </button>
    <div *ngIf="showSearchForm" class="surface-ground p-5 mb-5">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="flex align-items-center w-30rem">
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="name" id="name" class="w-15rem mr-2">
                    <label for="name">Nom</label>
                </span>
                <span class="p-float-label">
                    <p-dropdown [options]="tournamentCategories" placeholder="Catégorie" [editable]="true" formControlName="category" id="categorie"
                                optionLabel="name"></p-dropdown>
                    <label for="categorie">Catégorie</label>

                </span>

            </div>
            <div class="flex flex-column w-30rem mt-5 mb-5">
                <span class="p-float-label mb-2">
                    <p-multiSelect [panelStyle]="{'width': '20rem'}" [options]="tournamentStatus" formControlName="status" id="status"
                                   optionLabel="name"></p-multiSelect>
                    <label for="status">Statuts</label>
                </span>

                <span class="flex">
                    <span id="women" class="align-self-center mr-3">Réservé aux filles</span>
                    <p-inputSwitch formControlName="womenOnly" ariaLabelledBy="women"></p-inputSwitch>
                </span>
            </div>

            <div>
                <p-button class="mr-3" label="Reset" (click)="onReset()"/>
                <p-button type="submit" label="Rechercher"/>
            </div>


        </form>
    </div>


    <p-table *ngIf="tournaments" [value]="tournaments" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Location</th>
                <th>Categories</th>
                <th>Elo</th>
                <th>Statut</th>
                <th>Fin des inscriptions</th>
                <th>Joueurs</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tournament>
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.location }}</td>
                <td>{{ tournament.categories }}</td>
                <td>{{ tournament.eloMin === null ? "-" : tournament.eloMin }}
                    / {{ tournament.eloMax === null ? "-" : tournament.eloMax }}</td>
                <td>{{ tournament.status }}</td>
                <td>{{ tournament.endOfRegistrationDate | date}}</td>
                <td>
                    <span [ngClass]="{'text-red-400': tournament.count === 0,
                 'text-orange-400': tournament.count > 0 && tournament.count < tournament.maxPlayers,
                  'text-green-400': tournament.count === tournament.maxPlayers}">
                    {{ tournament.count }}
                    </span>
                    /{{ tournament.maxPlayers }}
                </td>
                <td><i class="pi pi-search cursor-pointer"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>


