<p-progressSpinner *ngIf="showSpinner"></p-progressSpinner>
<div *ngIf="!showSpinner">
    <ng-container class="w-5" *ngIf="tournamentSub | async as tournament">

        <p-card *ngIf="!tournament.canStart && match" class="p-5">
            <p-steps [model]="tournamentItems" [readonly]="false" [activeIndex]="activeIndex"
                     (activeIndexChange)="onActiveIndexChange($event, tournament)"></p-steps>
        </p-card>
        <div [@pageAnimation]="animationState ? 'in' : 'out'" class="w-12 flex flex-column">
            <p-panel *ngIf="tournament" [style]="{width: '100%'}">
                <ng-template pTemplate="header">
                    <span class="text-primary font-semibold text-xl">
                        {{tournament.name}}
                    </span>
                </ng-template>
                <p-table *ngIf="tournament.players" [tableStyle]="{ 'min-width': '50rem' }"
                         [value]="tournament.players">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Position</th>
                            <th>Nom</th>
                            <th>P</th>
                            <th>V</th>
                            <th>D</th>
                            <th>N</th>
                            <th>Score</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-player let-i="index">
                        <tr *ngIf="match">
                            <td>{{ getPlayerPosition(player.id, currentRound) }}</td>
                            <td>{{ player.username }}</td>
                            <td>{{ match.result !== 'NotPlayed' ? currentRound : currentRound-1 }}</td>
                            <td>{{  playerStats[player.id].wins }}</td>
                            <td>{{ playerStats[player.id].losses }}</td>
                            <td>{{ playerStats[player.id].draws }}</td>
                            <td>{{ calculateTotalScore(player.id) }}</td>
                        </tr>
                        <tr *ngIf="!match && tournament.currentRound < 2">
                            <td>1</td>
                            <td>{{ player.username }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>

                    </ng-template>
                </p-table>
                <ng-template pTemplate="footer">
                    <p-button routerLink="/tournament/index" label="Retour à l'index"></p-button>
                </ng-template>
            </p-panel>
            <p-card *ngIf="tournament.matches && tournament.players && tournament.players.length >= 2 && !tournament.canStart" [style]="{width: '50%'}" class="mt-5 flex justify-content-end">

                <div *ngIf="match" class="flex justify-content-between align-items-center">
                    <p class="w-3">{{ match.whiteName }}</p>
                    <p class="w-3">VS</p>
                    <p class="w-3">{{ match.blackName }}</p>

                    <form [formGroup]="resultForm">
                        <p-dropdown class="w-3" *ngIf="tournament.status !== 'Closed'"  [style]="{width: '100%'}"
                                    formControlName="result" [options]="matchResults"
                                    [placeholder]="matchResults[0]" (onChange)="resultFormSubmit(match.id)">
                        </p-dropdown>
                    </form>

                </div>
                <p-button *ngIf="tournament.status !== 'Closed' && !tournament.canStart"  label="Sauvegarder" (click)="nextRound(tournament.id)"></p-button>

            </p-card>
        </div>

        <p-button class="" [style]="{marginTop: '15px'}" *ngIf="tournament.players && tournament.canStart && user?.role === 'Admin'" label="Démarrer"
                  [disabled]="tournament.players.length < tournament.minPlayers"
                  (onClick)="start(tournament.id)"></p-button>
    </ng-container>


</div>
